<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl" lang="hr" >
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156335343-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156335343-1');
    </script>-->
    <title>Vista Nekretnine | Prodaja luksuznih stanova | Opatija</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Luksuzno opremljen stan površine 135,90 m2 nalazi se u mirnom dijelu Opatije u blizini svih sadržaja s otvorenim pogledom na more.">
    <meta name="author" content="IG PROG, vl. Igor Gašparović">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Vista Nekretnine | Prodaja luksuznih stanova" />
    <meta property="og:description" content="Luksuzno opremljen stan površine 135,90 m2 nalazi se u mirnom dijelu Opatije u blizini svih sadržaja s otvorenim pogledom na more." />
    <meta property="og:url" content="https://www.vistanekretnine.hr" />
    <meta property="og:image" content="https://www.vistanekretnine.hr/assets/img/banner.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <link href="https://www.vistanekretnine.hr/" rel="canonical" />
    <link href="../assets/css/vendor/bootstrap.min.css" async rel="stylesheet">
    <link rel="stylesheet" type="text/css" async href="../assets/css/vendor/jquery.floating-social-share.min.css" />
    <link href="../assets/css/style.css" async rel="stylesheet">
    <link rel="stylesheet" async href="../assets/css/vendor/angular-material.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" async integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="../assets/js/vendor/jquery.min.js" ></script>
    <script src="../assets/js/vendor/popper.min.js" ></script>
    <script src="../assets/js/vendor/bootstrap.min.js" async></script>
    <script src="../assets/js/vendor/angular.min.js" ></script>
    <script src="../assets/js/vendor/angular-animate.min.js" async></script>
    <script src="../assets/js/vendor/angular-aria.min.js" ></script>
    <script src="../assets/js/vendor/angular-material.min.js" ></script>
    <script src="../assets/js/vendor/ngStorage.min.js" ></script>
    <script src="../assets/js/vendor/angular-translate.min.js" ></script>
    <script src="../assets/js/vendor/angular-translate-loader-partial.min.js" ></script>
    <script src="../assets/js/vendor/lazysizes.min.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" async rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1" async />
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60"  >
   
    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="./" title="{{config.sitename}}" >
            <img src="../assets/img/logo.png" class="logo-size" alt="{{config.sitename}}" ng-cloak />
        </a>
        <div class="dropdown padding-left-resp">
            <label class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../assets/img/lang/{{lang}}.svg" alt="{{lang}}" ng-cloak /> <!--{{config.lang.title | translate}}-->
            </label>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="../{{x.code}}" ng-repeat="x in config.languages" ng-cloak><img src="../assets/img/lang/{{x.code}}.svg" alt="{{x.code}}" ng-cloak /> {{x.title | translate}}</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation" onclick="openNav()">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive" >
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#opis" title="{{'description' | translate}}" ng-cloak>{{'description' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#galerija" title="{{'gallery' | translate}}" ng-cloak>{{'gallery' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#karakteristike" title="{{'attributes' | translate}}" ng-cloak>{{'attributes' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#lokacija" title="{{'location' | translate}}" ng-cloak>{{'location' | translate}}</a>
                </li>
                <li ng-if="info.about" class="nav-item">
                    <a class="nav-link" href="#o-nama" title="{{'about us' | translate}}" ng-cloak>{{'about us' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kontakt" title="{{'contact' | translate}}" ng-cloak>{{'contact' | translate}}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav text-uppercase" ng-cloak>
        <div>
            <a class="text-white" title="{{'menu' | translate}}" ><strong>{{'menu' | translate}}</strong></a><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"  title="{{'close' | translate}}"><strong>&times;</strong></a>
            <hr style="margin:0 5px 10px 5px; background-color:#fff" />
        </div>
        <a href="#opis" onclick="closeNav()" title="{{'description' | translate}}">{{'description' | translate}}</a>
        <a href="#galerija" onclick="closeNav()" title="{{'gallery' | translate}}">{{'gallery' | translate}}</a>
        <a href="#karakteristike" onclick="closeNav()" title="{{'attributes' | translate}}">{{'attributes' | translate}}</a>
        <a href="#lokacija" onclick="closeNav()" title="{{'location' | translate}}">{{'location' | translate}}</a>
        <a ng-if="info.about" href="#o-nama" onclick="closeNav()" title="{{'about us' | translate}}">{{'about us' | translate}}</a>
        <a href="#kontakt" onclick="closeNav()" title="{{'contact' | translate}}">{{'contact' | translate}}</a>
    </div>
    
    <header class="text-white banner"></header>

    <loading-directive value="d.loading" size="5"></loading-directive>

    <div class="text-center pt-3" onclick="closeNav()" >
        <h1>Vista Nekretnine <span class="small">d.o.o.</span></h1>
        <h2 class="lead">Prodaja luksuznih stanova</h2>
        <hr />
        <div id="opis" class="container section slideanim p-3">
            <div ng-if="info.shortDesc">
                <h3>{{info.shortDesc}}</h3>
            </div>
            <div ng-if="info.longDesc">
                <p>{{info.longDesc}}</p>
            </div>
        </div>
        <div id="galerija" class="section slideanim">
            <div class="text-center" ng-cloak>
                <h2 class="text-primary text-uppercase">{{'gallery' | translate}}</h2>
                <gallery-directive data="d.records[0]"></gallery-directive>
            </div>
        </div>

        <div id="karakteristike" class="container-fluid section slideanim text-left padding-resp-5">
            <div class="row">
                <div class="col-lg-4 p-3" style="background-color:#eeeeee">
                    <div class="p-3">
                        <h2 class="text-primary text-uppercase mt-2">{{'details' | translate}}</h2>
                        <hr />
                        <options-directive data=d.records[0].productOptions datatype="'productDetails'"></options-directive>
                    </div>
                </div>
                <div class="col-lg-8 p-3">
                    <div class="p-3">
                        <div class="pb-3">
                            <h2 class="text-primary text-uppercase mt-2">{{'attributes' | translate}}</h2>
                            <hr />
                            <options-directive data=d.records[0].productOptions datatype="'productAttributes'"></options-directive>
                        </div>
                        <div class="pb-3">
                            <h2 class="text-primary text-uppercase mt-2">{{'close to' | translate}}</h2>
                            <hr />
                            <options-directive data=d.records[0].productOptions datatype="'productCloseTo'"></options-directive>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>

        <div id="lokacija" class="container section slideanim p-3">
            <h2 class="text-primary text-uppercase">{{'location' | translate}}</h2>
            <div style="height:500px" class="padding-resp-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7930.1072868819165!2d14.294167312628616!3d45.33146081058337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4764a8720d01e717%3A0x1ae21c72f2792a9e!2sStubi%C5%A1te%20Baredi%2017%2C%2051410%2C%20Opatija!5e0!3m2!1shr!2shr!4v1579191502348!5m2!1shr!2shr" frameborder="0" style="border:0; width:100%; height:95%" allowfullscreen=""></iframe>
            </div>
        </div>

        <div ng-if="info.about" id="o-nama" class="container section slideanim text-center p-3">
            <h2 class="text-primary text-uppercase">{{'about us' | translate}}</h2>
            <hr />
            <div>
                <p>{{info.about}}</p>
            </div>
        </div>

        <div ng-if="config.showfollow" class="container slideanim text-left pt-5">
            <div class="row">
                <div class="col text-right pr-5 div-wrapper">
                    <img data-src="../assets/img/smartphone.png" alt="smartphone.png" class="img-fluid follow-img lazyload" />
                </div>
                <div class="col" style="padding:100px 20px 100px 20px">
                    <h2 class="text-primary text-uppercase">{{'follow us' | translate}}</h2>
                    <p>{{'follow_us_desc' | translate}}.</p>
                    <div class="pt-3">
                        <a href="{{info.social.facebook}}" target="_blank" title="facebook"><img src="../assets/img/icon/face.png" alt="face.png" style="width:50px" /></a>
                        <a href="{{info.social.instagram}}" target="_blank" title="instagram"><img src="../assets/img/icon/instagram.png" alt="instagram.png" style="width:50px" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="kontakt" class="footer" onclick="closeNav()">
        <div class="container-fluid section text-white padding-resp-5 slideanim tranparent pt-5">
          <ng-include src="'../assets/partials/contact.html'"></ng-include>
            <div class="fixed text-right d-none d-sm-block" style="margin:0 20px 80px 0">
                <a href="#home" title="{{'on top' | translate}}" class="text-primary">
                    <span class="fa fa-chevron-up fa-3x"></span>
                </a>
            </div>
            <footer-directive sitename="config.sitename"></footer-directive>
        </div>
    </div>
    

    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/vendor/jquery.floating-social-share.min.js"></script>

    <script>
        $("body").floatingSocialShare({
            buttons: [
              "facebook", "google-plus", "twitter", "pinterest"
            ],
            twitter_counter: true,
            text: "Podijeli sa: ",
            url: "https://www.vistanekretnine.hr/"
        });
    </script>
</body>
</html>
