<div class="card shadow zoom bg-light" style="min-height:{{shortdesc===true?'600px':'0px'}}">
    <a href="../{{link}}.html?id={{productid}}&lang={{lang}}" title="{{product}}">
        <img class="card-img-top" src="../upload/{{productid}}/gallery/thumb/{{img}}" alt="{{link}}">
        <div class="bottom-left">
            <h2 ng-if="product" class="lead" style="color:#fff">{{product}}</h2>
        </div>
        <div ng-if="showdesc" class="card-body">
            <h3 ng-if="product" class="card-title">{{product}}</h3>
            <p ng-if="shortdesc" class="card-text">{{shortdesc}}...</p>
        </div>
    </a>
</div>
