<div class="section text-left">
    <div class="container-fluid">
        <img class="img-thumbnail_" src="../upload/{{id}}/gallery/{{img}}" alt="{{product}}" style="width:100%">
    </div>
    <div class="container" style="margin-top:100px">
        <h1 class="card-title">{{product}}</h1>
        <div class="section">
            <p>{{shortdesc}}</p>
            <p>{{longdesc}}</p>
        </div>
        <div class="row mb-5">
            <div class="col-sm-4" ng-repeat="x in options">
                <label class="lead">{{x.val}} <span>{{x.unit}}</span></label>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div ng-repeat="x in gallery" class="col-sm-4 zoom" style="padding:4px;margin:0">
                <img class="img-fluid" src="../upload/{{id}}/gallery/{{x}}" alt="{{product}}">
            </div>
        </div>
    </div>
</div>
