<span ng-show="value==false && pdf==true">
    <i class="fas fa-file-pdf"></i> {{btntitle}}
</span>
<span ng-show="value==true && pdf==true">
    <i ng-show="size>0" class="fas fa-spinner fa-spin fa-{{size}}x"></i><i ng-show="size==null" class="fas fa-spinner fa-spin"></i> {{loadingtitle}}
</span>
<div ng-show="value==true && pdf==null" class="text-center text-primary p-5">
    <i ng-show="size>0" class="fas fa-spinner fa-spin fa-{{size}}x"></i><i ng-show="size==null" class="fas fa-spinner fa-spin"></i> 
    <p>{{loadingtitle}}</p>
</div>
