<div class="p-2">
    <div ng-repeat="x in data | filter: datatype">
        <div ng-if="x.val">
            <div ng-if="!x.val.includes('|')">
                <div class="{{datatype==='productDetails'?'lead m-1':'m-1'}}">
                    <span class="font-weight-bold">{{x.title | translate}}:</span>
                    <span class="{{datatype==='productDetails'?'float-right':'pl-2'}}">{{x.val | translate}} {{x.unit | translate}}</span>
                </div>
            </div>
            <div ng-if="x.val.includes('|')" class="row">
                <div class="col-sm-4" ng-repeat="y in x.val.split('|')">
                    <p class="m-1"><i class="fa fa-{{x.favicon}}"></i> {{y | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="datatype==='productDetails'" class="font-weight-bold lead pt-5">
        <h2 class="text-primary text-uppercase mt-2">{{'documents' | translate}}</h2>
        <hr />
        <div class="p-2">
            <a href="../upload/pdf/neto_povrsine.pdf" class="text-success" target="_blank" title="neto_povrsine.pdf"><i class="fa fa-file-pdf"></i> {{'surface areas' | translate}}</a>
        </div>
        <div class="p-2">
            <a href="../upload/pdf/vasanska1_glavni_projekt.pdf" class="text-success" target="_blank" title="vasanska1_glavni_projekt.pdf" ><i class="fa fa-file-pdf"></i> {{'main project' | translate}} </a>
        </div>
    </div>
</div>
