<div class="p-2">
    <div ng-repeat="x in data | filter: datatype | orderBy: 'order'">
        <div ng-if="x.val&&x.isVisible">
            <div ng-if="!x.val.includes('|')">
                <div class="m-1">
                    <span class="font-weight-bold">{{x.title | translate}}:</span>
                    <span class="{{datatype==='productDetails'?'float-right':'pl-2'}}">{{x.val | translate}} {{x.unit | translate}}</span>
                </div>
                <!--<div class="{{datatype==='productDetails'?'lead m-1':'m-1'}}">
                    <span class="font-weight-bold">{{x.title | translate}}:</span>
                    <span class="{{datatype==='productDetails'?'float-right':'pl-2'}}">{{x.val | translate}} {{x.unit | translate}}</span>
                </div>-->
            </div>
            <div ng-if="x.val.includes('|')" class="row">
                <div class="col-sm-4" ng-repeat="y in x.val.split('|')">
                    <p class="m-1"><i class="fa fa-{{x.favicon}}"></i> {{y | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="datatype==='productDetails'" class="font-weight-bold pt-5">
        <h2 class="text-primary text-uppercase mt-2">{{'documents' | translate}}</h2>
        <hr />
        <div class="card mt-1 card-hover">
            <a href="../upload/pdf/neto_povrsine.pdf" class="text-decoration-none" target="_blank" title="neto_povrsine.pdf">
                <div class="card-body">
                    <i class="fa fa-file-pdf"></i> {{'surface areas' | translate}}
                    <span class="float-right">50 KB</span>
                </div>
            </a>
        </div>
        <div class="card mt-1 card-hover">
            <a href="../upload/pdf/vasanska1_glavni_projekt.pdf" class="text-decoration-none" target="_blank" title="vasanska1_glavni_projekt.pdf">
                <div class="card-body">
                    <i class="fa fa-file-pdf"></i> {{'main project' | translate}}
                    <span class="float-right">3.7 MB</span>
                </div>
            </a>
        </div>
        <div class="card mt-1 card-hover">
            <a href="../upload/pdf/prezentacija_ projekt_vista_nekretnine.pdf" class="text-decoration-none" target="_blank" title="prezentacija_ projekt_vista_nekretnine.pdf">
                <div class="card-body">
                    <i class="fa fa-file-pdf"></i> {{'presentation' | translate}}
                    <span class="float-right">9.1 MB</span>
                </div>
            </a>
        </div>
    </div>
</div>
