<div>
    <img src="../upload/{{d.data.id}}/gallery/{{d.data.gallery[d.idx]}}" class="img-fluid" />
    <div class="top-right">
        <a href="" class="text-white" title="{{'cancel' | translate}}" ng-click="cancel()"><i class="fa fa-times fa-2x"></i></a>
    </div>
    <div class="middle-left">
        <a href="" class="text-white" title="{{'back' | translate}}" ng-click="back(d.idx)"><i class="fa fa-angle-left fa-3x"></i></a>
    </div>
    <div class="middle-right">
        <a href="" class="text-white" title="{{'forward' | translate}}" ng-click="forward(d.idx)"><i class="fa fa-angle-right fa-3x"></i></a>
    </div>
</div>
